REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_USERNAME=default
REDIS_PWD=
REDIS_SSL=false
REDIS_SSL_CA_PATH=
REDIS_SSL_KEYFILE=
REDIS_SSL_CERTFILE=
REDIS_SSL_CERT_REQS=required
REDIS_SSL_CA_CERTS=
REDIS_CLUSTER_MODE=false
REDIS_MODEL=readwrite
